<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../public/style2.css">
    <title>Socket.IO chat</title>
  </head>
  <body>
    <!-- <ul id="messages">

      
      <% if (resultat) { %>
        <% for (let i = 0; i < resultat.length; i++) {
          const element = resultat[i]; %>
  
          <li> <%= element.texte %></li>
         <% }%>
      <% } %>  
     
    </ul>
    <form id="form" action="" method="post">
      <input id="input"  name="texte" autocomplete="off" /><button>Send</button>
    </form> -->


  <div class="container">
      <div class="block1">
          <div class="recherche"></div>
          <div class="utilisateur"></div>
          <div class="utilisateur"></div>
          <div class="utilisateur"></div>
          <div class="utilisateur"></div>
          <div class="utilisateur"></div>
          <div class="utilisateur"></div>
          <div class="utilisateur"></div>
          <div class="utilisateur"></div>
          <div class="utilisateur"></div>
          <div class="utilisateur"></div>
          
      </div>
      <div class="block2">
        <div class="haut"></div>
        <div class="milieu"></div>
        <div class="bas">
          <form id="form" action="" method="post">
            <input id="input"  name="texte" autocomplete="off" /><button>Send</button>
          </form> 
        </div>
      </div>
  </div> 

    

    <script src="/socket.io/socket.io.js"></script>
    <script src="../public/js/client.js"></script>
  </body>
</html>